# -------------------------
# .NET
# -------------------------
bin/
obj/

# Visual Studio
.vs/

# Rider
.idea/

# User files
*.user
*.suo

# -------------------------
# Node / React
# -------------------------
node_modules/
dist/

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# Environment files
# -------------------------
.env
.env.*

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Docker local data
# -------------------------
postgres_data/
seq_data/